In [1]:
from numpy import *
from pandas import DataFrame, Series
import pandas as pd
from scipy.stats import *
import scipy as sp
import matplotlib.pyplot as plt

Vendor:  Continuum Analytics, Inc.
Package: mkl
Message: trial mode expires in 30 days

In [5]:
cd PRACTICAS/

/Users/mmngreco/Documents/repos/python_para_economistas/PyEconEst_2/PRACTICAS

In [6]:
ls

1/     2/     Icon?

In [10]:
cd 2/

/Users/mmngreco/Documents/repos/python_para_economistas/PyEconEst_2/PRACTICAS/2

In [11]:
ls

Guion.pdf*
Hoja inicial Practica Tablas Dinámicas.xlsx*
Icon?

In [16]:
banco = pd.read_excel('Hoja inicial Practica Tablas Dinámicas.xlsx', sheetname=3, encoding='utf-8')

In [17]:
banco.head()

   Identificador genero  Saldo medio cuenta Corriente de pagos
0              1  MUJER             2475.65                 SI
1              2  VARON             1359.61                 SI
2              3  MUJER             1281.55                 SI
3              4  MUJER             1683.95                 SI
4              5  MUJER              974.68                 SI

In [18]:
xbar = banco['Saldo medio cuenta'].mean()

In [19]:
xvar = banco['Saldo medio cuenta'].var()

In [20]:
n = len(banco)

In [ ]:
x