In [1]:
from __future__ import division, unicode_literals

from numpy import *
from pandas import DataFrame, Series
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
from scipy.stats import *
# import prettyplotlib as ppl
import seaborn as sns

sns.set(style="ticks", palette="Set2")
sns.despine()

%matplotlib inline

Vendor:  Continuum Analytics, Inc.
Package: mkl
Message: trial mode expires in 30 days

In [2]:
data = pd.read_excel('Hoja inicial Practica Tablas Dinámicas.xlsx', sheetname=0, encoding='utf-8', skiprows=3)

In [3]:
data.dropna(axis=1, inplace=True)

In [4]:
data.head()

   observacion      Salario  Género  Edad
0            1   782.120000  Hombre    45
1            2  1346.267443  Hombre    30
2            3  1256.763687   Mujer    28
3            4  1329.402837  Hombre    43
4            5  1178.015458  Hombre    39

In [5]:
n = len(data)
n

116

In [6]:
p_genero = data.groupby('Género').Género.count() / n
p_genero

Género
Hombre    0.534483
Mujer     0.465517
Name: Género, dtype: float64

In [7]:
ns = 0.05

In [8]:
z_ns = norm.ppf(ns/2)

In [9]:
ns, z_ns

(0.05, -1.9599639845400545)

# INTERVALO DE CONFIANZA PARA LA PROPORCIÓN:
## $$ IC(\hat{p}) = p_0 \pm Z_{\alpha/2}\frac{{p_0}(1-{p_0})}{n} $$

In [10]:
# mujer:
ee = p_genero['Mujer'] * (1 - p_genero['Mujer']) / n
ee

0.0021449218910164418

In [11]:
p_genero['Mujer']

0.46551724137931033

In [12]:
p_genero['Mujer'] + z_ns * ee

0.46131327172326658

In [13]:
p_genero['Mujer'] - z_ns * ee

0.46972121103535408

# INTERVALO DE CONFIANZA PARA LA MEDIA:
## $$ IC(\mu) = \bar{x} \pm Z_{\alpha/2}\frac{S_1}{\sqrt{n}} $$

In [14]:
media = data.groupby('Género').Salario.mean()
media

Género
Hombre    1485.915897
Mujer     1344.071866
Name: Salario, dtype: float64

In [15]:
var = data.groupby('Género').Salario.var()
var

Género
Hombre    307843.228100
Mujer     177872.491191
Name: Salario, dtype: float64

In [16]:
n = data.groupby('Género').Salario.count()
n

Género
Hombre    62
Mujer     54
Name: Salario, dtype: int64

In [17]:
s1 = sqrt(var * data.groupby('Género').Salario.count()/ (data.groupby('Género').Salario.count() - 1))
s1

Género
Hombre    559.365568
Mujer     425.709497
Name: Salario, dtype: float64

In [18]:
ee = s1 / sqrt(n)
ee

Género
Hombre    71.039498
Mujer     57.931725
Name: Salario, dtype: float64

In [19]:
ns = 0.01
z_ns = norm.ppf(ns/2)
ns,  z_ns

(0.01, -2.5758293035489008)

In [20]:
media.Hombre + ee.Hombre * z_ns, media.Hombre - ee.Hombre * z_ns

(1302.9302757864352, 1668.9015178503187)

In [21]:
media.Mujer + ee.Mujer * z_ns, media.Mujer - ee.Mujer * z_ns

(1194.849631702486, 1493.2941004437498)

In [22]:
media

Género
Hombre    1485.915897
Mujer     1344.071866
Name: Salario, dtype: float64

In [23]:
ee

Género
Hombre    71.039498
Mujer     57.931725
Name: Salario, dtype: float64

In [24]:
1-ns

0.99

# INTERVALO DE CONFIANZA PARA LA VARIANZA:
## A partir del estadístico:

## $$ \chi^2 = \frac{(n-1)S^2_{1}}{\sigma^2} $$

## Tenemos que:

## $$ \frac{(n-1)S^2_{1}}{\chi^2_{\alpha/2}}  < \sigma^2 < \frac{(n-1)S^2_{1}}{\chi^2_{1-\alpha/2}} $$

In [25]:
s1

Género
Hombre    559.365568
Mujer     425.709497
Name: Salario, dtype: float64

In [27]:
n

Género
Hombre    62
Mujer     54
Name: Salario, dtype: int64

In [28]:
ns

0.01

In [31]:
chi_2 = chi2.ppf(ns/2, df=n-1)
chi_2

array([ 36.30050073,  30.23003336])

In [33]:
(n-1) * s1 ** 2 / chi_2

Género
Hombre    525785.588531
Mujer     317734.168903
Name: Salario, dtype: float64

In [34]:
chi_2 = chi2.ppf(1-ns/2, df=n-1)
chi_2

array([ 93.18613531,  83.25255121])

In [35]:
(n-1) * s1 ** 2 / chi_2

Género
Hombre    204818.882958
Mujer     115373.215418
Name: Salario, dtype: float64