In [1]:
#!/usr/bin/env
# -*- coding:utf-8 -*-

from __future__ import division

import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import scipy as sp
import prettyplotlib as ppl
import seaborn as sns
from pylab import *

sns.set(style="ticks", palette="Set2")
sns.despine()

%matplotlib inline

# CALCULAR EL INTERVALO DE CONFIANZA DE LA MEDIA:
$$IC = [ µ ± Z_{\frac{α}{2}} · \frac{S_1}{\sqrt{n}} ]$$

1. Oragnizar la BD:

1. Datos Necesarios:
    1. µ = Salario medio, Promedio de los Salarios
    1. n = Cuantas personas hay
    1. S\_1 = La cuasidesviación
    1. Z\_α/2 = Valor Teórico

# 1.  IMPORTAMOS LA BASE DE DATOS:

In [2]:
dsal = pd.read_excel(u'Hoja inicial Practica Tablas Dinámicas.xlsx', 
                          sheetname='salario', 
                          encode='utf-8', 
                          header=0)

dban = pd.read_excel(u'Hoja inicial Practica Tablas Dinámicas.xlsx', 
                        sheetname='banco', 
                        encode='utf-8', 
                        header=0)

##1.1.  COMPROBAMOS LOS DATOS IMPORTADOS:

In [3]:
dsal.head()

       salario  genero  edad
0   782.120000  Hombre    45
1  1346.267443  Hombre    30
2  1256.763687   Mujer    28
3  1329.402837  Hombre    43
4  1178.015458  Hombre    39

In [4]:
dban.head()

   Identificador genero  Saldo medio cuenta Corriente de pagos
0              1  MUJER             2475.65                 SI
1              2  VARON             1359.61                 SI
2              3  MUJER             1281.55                 SI
3              4  MUJER             1683.95                 SI
4              5  MUJER              974.68                 SI

# 2. CALCULAMOS LOS DATOS NECESARIOS:

## 2.1 CALCULAMOS LA MEDIA MUESTRAL:

In [5]:
media_t = dsal.salario.mean() # TOTAL
media_t

1419.8850549197218

In [6]:
gsal = dsal.groupby(u'genero').salario # POR GRUPO

media_g = gsal.mean()
media_g

genero
Hombre    1485.915897
Mujer     1344.071866
Name: salario, dtype: float64

## 2.2. CALCULAMOS EL TAMAÑO DE LAS MUESTRAS:

In [7]:
n = len(dsal) # TOTAL
n

116

In [8]:
ng = gsal.count() # Por grupos
ng

genero
Hombre    62
Mujer     54
Name: salario, dtype: int64

## 2.3. CALCULAMOS LA CUASIDESVIACIÓN TÍPICA:

In [9]:
dt = dsal.salario.std()
dt

500.31621266090042

In [10]:
dtg = gsal.std()
dtg

genero
Hombre    554.836217
Mujer     421.749323
Name: salario, dtype: float64

## 2.4. CALCULAMOS EL VALOR TEÓRICO DE UNA NORMAL:

In [11]:
significacion = 0.95
alpha = 1 - significacion

z = sp.stats.norm.ppf(alpha/2)
z

-1.959963984540054

# 3. CALCULAMOS EL INTERVALO DE CONFIANZA:

__HEMOS HALLADO:__

- media\_t
- media\_g
- dt
- dtg
- n
- ng
- Z\_α/2
$$IC = [ µ ± Z_{\frac{α}{2}} · \frac{S_1}{\sqrt{n}} ]$$

In [12]:
ic_sup = media_t - z * dt / np.sqrt(n)
ic_inf = media_t + z * dt / np.sqrt(n)

print 'IC =[%s , %s]' % (round(ic_inf, 3), round(ic_sup, 3))

IC =[1328.838 , 1510.932]

# CALCULAR UN INTERVALO PARA LA VARIANZA:

# INTERVALO DE CONFIANZA PARA LA PROPORCIÓN:

$IC(p) = (\hat{p}± Z_{\frac{\alpha}{2}} · \frac{\sqrt{\hat{p}(1-\hat{p})})}{\sqrt{n}}$

In [15]:
p_hat = ng.Hombre / ng.sum()
p_hat

0.53448275862068961

Desviación tipica estimada:
$$\frac{\sqrt{\hat{p}(1-\hat{p})})}{\sqrt{n}}$$

In [17]:
de_hat = np.sqrt(p_hat * (1 - p_hat)) / np.sqrt(ng.sum())
de_hat

0.046313301448033715

# INTERVALO DE CONFIANZA PARA MENOS DE 40 AÑOS:

In [18]:
d = salario[salario.edad < 40]
d

NameError: name 'salario' is not defined

In [ ]:
d.count()

In [ ]:
media = d.groupby('genero').mean()
dt = d.groupby('genero').std()

In [ ]:
media

In [ ]:
dt

In [ ]:
dd = salario.groupby([salario.edad < 40])

In [ ]:
dd.mean()

In [ ]:
dd.std()

In [ ]:
dd.count()